<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd">


	<bean id="dataSource"
		class="org.apache.commons.dbcp.BasicDataSource">
		<property name="driverClassName"
			value="com.mysql.jdbc.Driver">
		</property>
		<property name="url"
			value="jdbc:mysql://localhost:3306/db_yymz?useUnicode=true&amp;amp;amp;amp;amp;amp;characterEncoding=utf-8">
		</property>
		<property name="username" value="root"></property><!-- 数据库的连接名 -->
		<property name="password" value="dcj759846419"></property><!-- 数据库的连接密码 -->
	</bean>
	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
		<property name="dataSource">
			<ref bean="dataSource" />
		</property>
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">
					org.hibernate.dialect.MySQLDialect
				</prop>
				<prop key="hibernate.show_sql">true</prop>
			</props>
		</property>
		<property name="mappingResources">
			<list>
				<value>com/model/Message.hbm.xml</value>
				<value>com/model/Responds.hbm.xml</value>
				<value>com/model/TAdmin.hbm.xml</value>
			    <value>com/model/TUser.hbm.xml</value>
			    <value>com/model/TKeshi.hbm.xml</value>
			    <value>com/model/TZhuanjia.hbm.xml</value>
			    <value>com/model/TJieshao.hbm.xml</value>
			    <value>com/model/TGuahao.hbm.xml</value>
			    <value>com/model/TYaopin.hbm.xml</value>
			    <value>com/model/TJiuzhen.hbm.xml</value>
			    <value>com/model/TYongyao.hbm.xml</value></list>
		</property>
	</bean>
	
	
	<bean id="indexAction" class="com.action.indexAction" scope="prototype">
	</bean>
	
	
	
	
	
	<bean id="TUserDAO" class="com.dao.TUserDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory"></ref>
		</property>
	</bean>
	
	<bean id="userAction" class="com.action.UserAction" scope="prototype">
		<property name="userDAO">
			<ref bean="TUserDAO" />
		</property>
	</bean>
	
	
	<!-- 后台的登录 -->
	<bean id="loginService" class="com.service.loginService">
		<property name="adminDAO">
			<ref bean="TAdminDAO" />
		</property>
		<property name="userDAO">
			<ref bean="TUserDAO" />
		</property>
		<property name="zhuanjiaDAO">
			<ref bean="TZhuanjiaDAO" />
		</property>
		<property name="keshiDAO">
	         <ref bean="TKeshiDAO"/>
	    </property>
	</bean>
	
	
	<bean id="TAdminDAO" class="com.dao.TAdminDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	
	
	
	
	<bean id="TKeshiDAO" class="com.dao.TKeshiDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="keshiAction" class="com.action.keshiAction" scope="prototype">
	     <property name="keshiDAO">
	         <ref bean="TKeshiDAO"/>
	     </property>
	     <property name="zhuanjiaDAO">
			<ref bean="TZhuanjiaDAO" />
		 </property>
	</bean>
	
	
	
	<bean id="TZhuanjiaDAO" class="com.dao.TZhuanjiaDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="zhuanjiaAction" class="com.action.zhuanjiaAction" scope="prototype">
		<property name="zhuanjiaDAO">
			<ref bean="TZhuanjiaDAO" />
		</property>
		<property name="keshiDAO">
	         <ref bean="TKeshiDAO"/>
	     </property>
	     <property name="userDAO">
			<ref bean="TUserDAO" />
		</property>
	</bean>
	
	
	<bean id="TJieshaoDAO" class="com.dao.TJieshaoDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="jieshaoAction" class="com.action.jieshaoAction" scope="prototype">
	     <property name="jieshaoDAO">
	         <ref bean="TJieshaoDAO"/>
	     </property>
	</bean>
	
	
	
	<bean id="TGuahaoDAO" class="com.dao.TGuahaoDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="guahaoAction" class="com.action.guahaoAction" scope="prototype">
	     <property name="guahaoDAO">
	         <ref bean="TGuahaoDAO"/>
	     </property>
	     <property name="zhuanjiaDAO">
			<ref bean="TZhuanjiaDAO" />
		 </property>	     
	</bean>
	
	<bean id="messageDao" class="com.dao.MessageDao">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="messageAction" class="com.action.MessageAction" scope="prototype">
	     <property name="messageDao">
			<ref bean="messageDao" />
		 </property>
		 <property name="tUserDao">
			<ref bean="TUserDAO" />
		 </property>
	</bean>
	
	<bean id="respondsDao" class="com.dao.RespondsDao">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="respondsAction" class="com.action.RespondsAction" scope="prototype">
	     <property name="respondsDao">
			<ref bean="respondsDao" />
		 </property>
		 <property name="messageDao">
			<ref bean="messageDao" />
		 </property>
		 <property name="tUserDao">
			<ref bean="TUserDAO" />
		 </property>
		 
	</bean>
	
	
	<bean id="TYaopinDAO" class="com.dao.TYaopinDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="yaopinAction" class="com.action.yaopinAction" scope="prototype">
	     <property name="yaopinDAO">
	         <ref bean="TYaopinDAO"/>
	     </property>
	</bean>
	
	
	
	
	<bean id="TJiuzhenDAO" class="com.dao.TJiuzhenDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="jiuzhenAction" class="com.action.jiuzhenAction" scope="prototype">
	     <property name="jiuzhenDAO">
	         <ref bean="TJiuzhenDAO"/>
	     </property>
	     <property name="yongyaoDAO">
	         <ref bean="TYongyaoDAO"/>
	     </property>
	     <property name="yaopinDAO">
	         <ref bean="TYaopinDAO"/>
	     </property>
	     <property name="guahaoDAO">
	         <ref bean="TGuahaoDAO"/>
	     </property>
	     <property name="userDAO">
			<ref bean="TUserDAO" />
		 </property>
	</bean>
	
	
	
	
	<bean id="TYongyaoDAO" class="com.dao.TYongyaoDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory"></ref>
		</property>
	</bean>
	<bean id="yongyaoAction" class="com.action.yongyaoAction" scope="prototype">
	     <property name="yongyaoDAO">
	         <ref bean="TYongyaoDAO"/>
	     </property>
	     <property name="yaopinDAO">
	         <ref bean="TYaopinDAO"/>
	     </property>
	</bean>
	
	</beans>